.address-form {
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    // height: 400px;
    .right-fields,
    .left-fields {
        flex-direction: column;
        display: flex;
        gap: 20px;
    }
    .form-field {
        display: flex;
        flex-direction: row;
        // justify-content: center;
        align-items: center;
        gap: 10px;
        span {
            width: 130px;
        }
        .textarea-field {
            width: 300px;
        }
    }
}
.onDemand-stepper {
    width: 600px;
    margin: 10px auto;
    margin-bottom: 30px;
}
.onDemand-step {
    // text-align: center;
    // margin-top: 20px;
    // margin-right: 60px;
    min-height: 360px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    button {
        color: $clr3;
        font-family: varela;
    }
    .back-btn{
        margin-bottom: -20px;

    }
    .stl-settings-cont {
        display: flex;
        gap: 50px;
        justify-content: center;
        align-items: center;
        .settings {
            width: 500px;
            flex-grow: 1;
            background-color: rgb(245, 245, 245);
            border-radius: 20px;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 16px;

            .cta-cont {
                display: flex;
                justify-content: space-between;
            }
            .setting {
                display: flex;
                flex-direction: column;
                gap: 8px;
                // justify-content: flex-start;
                align-items: flex-start;
                .title-question-cont {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                    h3 {
                        text-align: right;
                        display: inline;
                    }
                }
                .switch-cont {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 5px;
                    .inline {
                        display: inline;
                        text-align: right;
                    }
                }
                .options {
                    display: flex;
                    gap: 10px;
                    .mat-btn {
                        color: $clr4;
                    }
                    .active {
                        color: #fff;
                    }
                }
                .colors {
                    display: flex;
                    gap: 5px;
                    .color-box {
                        width: 30px;
                        height: 30px;
                        cursor: pointer;
                        border-radius: 5px;
                        transition: box-shadow 0.2s;
                    }
                    .active {
                    }
                }
            }
        }
    }
    .data-viewer-cont {
        display: flex;
        gap: 20px;
        .data {
            padding-top: 50px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            text-align: right;
        }
    }
    .cta-cont {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin-top: 40px;
        button {
            width: 200px;
            font-family: varela;
        }
    }
    .whiteText {
        color: #fff !important;
    }
    .MuiButton-endIcon {
        margin-right: 10px !important;
    }
    .MuiButton-startIcon {
        margin-left: 10px !important;
    }
}
.print-order-submitted{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

@media only screen and (max-width: 750px) {
    .onDemand-stepper {
        width: 100%;
    }
    .stl-settings-cont {
        flex-direction: column;
    }
}
