// Colors
$clr1: #5a5a5a;
$clr2: #007cff;
$clr3: #373f51;
$clr4: #0066d1;
$clr5: #dff0ea;
$clr6: #fddb00;
$clr7: #282827;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
